@model NewUserViewModel
@{
    ViewData["Title"] = "Регистрация нового пользователя";
    Layout = "_LoginLayout";
}

<form asp-action="RegistrationNewUser" method="post">
    <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group bmd-form-group">
            <label asp-for="Email" class="bmd-label-floating"></label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group bmd-form-group">
            <label asp-for="Password" class="bmd-label-floating"></label>
            <input asp-for="Password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group bmd-form-group">
            <label asp-for="ConfirmPassword" class="bmd-label-floating"></label>
            <input asp-for="ConfirmPassword" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>


        <div class="form-group bmd-form-group">
            <label asp-for="UserName" class="bmd-label-floating"></label>
            <input asp-for="UserName" class="form-control" placeholder="Имя пользователя">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>


        <div class="form-group bmd-form-group">
            <label asp-for="FirstName" class="bmd-label-floating"></label>
            <input asp-for="FirstName" class="form-control" placeholder="Имя">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group bmd-form-group">
            <label asp-for="Surname" class="bmd-label-floating"></label>
            <input asp-for="Surname" class="form-control" placeholder="Фамилия">
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="form-group bmd-form-group">
            <label asp-for="Patronym" class="bmd-label-floating"></label>
            <input asp-for="Patronym" class="form-control" placeholder="Отчество">
            <span asp-validation-for="Patronym" class="text-danger"></span>
        </div>
        <div class="form-group bmd-form-group">
            <label asp-for="PhoneNumber" class="bmd-label-floating"></label>
            <input asp-for="PhoneNumber" class="form-control" placeholder="Телефон">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="form-group bmd-form-group">
            <label asp-for="Address" class="bmd-label-floating"></label>
            <input asp-for="Address" class="form-control" placeholder="Адрес">
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TeacherId" class="bmd-label-floating"></label>
            <select asp-for="TeacherId" class="form-control" asp-items="ViewBag.TeacherId" placeholder="Учитель"></select>
            <span asp-validation-for="TeacherId" class="text-danger"></span>
        </div>
        @if(User.IsInRole("ADMIN"))
        {
             <div class="form-group bmd-form-group">
            <label asp-for="IsTeacher" class="bmd-label-floating"></label>
            <input type="checkbox" asp-for="IsTeacher" class="form-control" placeholder="Является учителем?">
            <span asp-validation-for="TeacherId" class="text-danger"></span>
        </div>
        <div class="form-group bmd-form-group">
            <label asp-for="IsAdministrator" class="bmd-label-floating"></label>
            <input type="checkbox" asp-for="IsAdministrator" class="form-control" placeholder="Является администратором?">
            <span asp-validation-for="IsAdministrator" class="text-danger"></span>
        </div>
        }
       
    </div>

    <div class="card-footer justify-content-center">
        <button type="submit" class="btn btn-primary btn-fill btn-lg">Зарегистрировать</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}