@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Платформа для подготовки к ЕГЭ по информатике</h1>
    <p>Учитесь, учитесь и еще раз учитесь!</a>.</p>
</div>

    <img src="~/img/img3.jpg" />
