@using Microsoft.AspNetCore.Identity

@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager


@{
    ViewData["Title"] = "Информация о платформе";
}
<h1>@ViewData["Title"]</h1>

@if (!SignInManager.IsSignedIn(User))
{
    <i>
        <h3>
            Платформой могут воспользоваться только авторизованные пользователи.<br>
            Данные для аутентификации запросите у своего Преподавателя, Руководителя или Администратора.
        </h3>
    </i>
}
else
{
    <h4>
        Плафторма предназначена для подготовки к ЕГЭ по информатике всем школьникам, студентам и преподавателям. <br>
        <p></p>
        База вопросов и ответов была взята с платформы <a href="https://kpolyakov.spb.ru/school/ege.htm">ЕГЭ по информатике Ю.К.Полякова</a> и <a href="https://inf-ege.sdamgia.ru/">Решу ЕГЭ. Информатика</a><br>
    </h4>

    <p></p>

    @if(User.IsInRole("TEACHER"))
    {
        <p>
            Для создания теста преподавателям нужно:<br>
            <p></p>
                1) добавить необходимые ранги вопросов;<br>
                <p></p>
                2) добавить необходимые темы вопросов;<br>
                <p></p>
                3) добавить вопросы и ответы с выбором ранга и темы вопроса;<br>
                <p></p>
        </p>
    }
    
    <p>
        Для работы с платформой:<br>
            <p></p>
            1) зайдите во вкладку "Сборка теста";<br>
            <p></p>
            2) выберите нужные темы вопросов, по которым хотите проходить тест;<br>
            <p></p>
            3) темы, выбранные в первый раз, будут выводить вопросы с первого ранг А;<br>
            <p></p>
            4) после прохождения теста будет выведен электронный отчет с проверенными ответами;<br>
            <p></p>
            5) проанализаруйте свои ответы самостоятельно или со своим преподвателем, связавшись с ним в "Чате" или Zoom в "Личном кабинете"<br>
            <p></p>
            6) после прохождения теста автоматически будут выводится новые вопросы на основе последних данных ответах и выбранных темах. <br>
            <p></p>
    </p>


    @*@if (User.IsInRole("ADMIN"))
    {
        <h5>
            Для работы с платформой администраторами используются:<br>
        </h5>
        <h6>
            1) вкладка Настройки пользователя - добавить, редактировать, изменить пароль пользователя роли "Учитель", "Ученик", "Администратор";<br>
            2) вкладка Ранги - добавить, изменить, удалить, просмотреть ранг вопроса;<br>
            3) вкладка Темы вопросов - добавить, изменить, удалить, просмотреть тему вопроса;<br>
            4) вкладка Вопросы и ответы - добавить, изменить, удалить, просмотреть вопросы и ответы, которым вручную выбираются тема и ранг вопроса;<br>
            5) вкладка Сборка теста - выбрать темы вопросов, которые нужно вывести в тест;<br>
            6) вкладка Отчет - вывод результата последнего пройденного теста;<br>
            7) вкладка Чат - коммуникация между преподавателем и администратором;<br>
            8) вкладка Тест - выводятся вопросы, по темам которых были выбраны в последний раз в Сборке теста;<br>
            9) вкладка Личный кабинет - вывод личной информации и общение по Zoom с пользователями.<br>
        </h6>
    }
    <p></p>
    @if(User.IsInRole("TEACHER") || User.IsInRole("ADMIN"))
    {
        <h5>
            Для работы с платформой преподавателям используются:<br>
        </h5>
        <h6>
            1) вкладка Настройки пользователя - добавить, редактировать, изменить пароль пользователя роли "Ученик";<br>
            2) вкладка Ранги - добавить, изменить, удалить, просмотреть ранг вопроса;<br>
            3) вкладка Темы вопросов - добавить, изменить, удалить, просмотреть тему вопроса;<br>
            4) вкладка Вопросы и ответы - добавить, изменить, удалить, просмотреть вопросы и ответы, которым вручную выбираются тема и ранг вопроса;<br>
            5) вкладка Сборка теста - выбрать темы вопросов, которые нужно вывести в тест;<br>
            6) вкладка Отчет - вывод результата последнего пройденного теста;<br>
            7) вкладка Чат - коммуникация между преподавателем и учеником;<br>
            8) вкладка Тест - выводятся вопросы, по темам которых были выбраны в последний раз в Сборке теста;<br>
            9) вкладка Личный кабинет - вывод личной информации и общение по Zoom с учениками и администратором.<br>
        </h6>
    }
    <p></p>
        <h5>
            Для работы с платформой учениками используются:<br>
        </h5>
        <h6>
            1) вкладка Сборка теста - выбрать темы вопросов, которые нужно вывести в тест;<br>
            2) вкладка Отчет - вывод результата последнего пройденного теста;<br>
            3) вкладка Чат - коммуникация между преподавателем и учеником;<br>
            4) вкладка Тест - выводятся вопросы, по темам которых были выбраны в последний раз в Сборке теста;<br>
            5) вкладка Личный кабинет - вывод личной информации и общение по Zoom с учениками и преподавателем.<br>
        </h6>*@
    
}
