@using Sait2022.ViewModels
@model QuestAnswersViewModel

@{
    ViewData["Title"] = "Вопросы";
}
<style>
        @@font-face {
            font-family: 'FontAwesome';
            src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), 
            url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
            url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal
        }
 
        .glyphicon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }
 
        .glyphicon-chevron-right:before {
            content: "\f054";
        }
 
        .glyphicon-chevron-left:before {
            content: "\f053";
        }
    </style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>
 
<body>
    @using(Html.BeginForm())
    {
        @foreach(var kvpair in Model.QuestValues)
        {
            <div class="col-md-10">
                @Html.DisplayFor(m=>m.QuestValues[kvpair.Key])
                @Html.EditorFor(m=>m.AnswerValues[kvpair.Key])
            </div>
        }
        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
    }
@if (Model.PagesViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PagesViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PagesViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PagesViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
</body>
</html>