@model Sait2022.ViewModels.Question.QuestAnswersViewModel

@{
    ViewData["Title"] = "Вопросы";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>
 
<body>
    @using(Ajax.BeginForm())
    {
        <div class="col-md-10">
                @Html.DisplayFor(m=>m.QuestValues.Value)
                @Html.EditorFor(m=>m.AnswerValues.Value)
        </div>
        <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
    }
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    @RenderSection("Scripts");
</body>
</html>