@model IEnumerable<Sait2022.Domain.Model.Questions>

@{
    ViewData["Title"] = "Вопросы";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>
 
<body>
    @using(Html.BeginForm())
    {
        <table cellspacing="5px;">
      @foreach (var item in Model)
     {     <tr>
                <td>
                    @Html.DisplayFor(model => item.NumberQuest)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ValueQuest)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>                
                </td>           
           </tr>
     }
    </table>
    <input type="submit" value="Save" name="submit" id="submit" class="btn btn-primary"/>
    }
  
</body>
</html>