@model IEnumerable<Sait2022.ViewModels.Question.QuestionsViewModel>

@{
    ViewData["Title"] = "Вопросы";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>

<body>
  <table cellspacing="5px;">
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberQuest)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValueQuest)
                </td>
                @using (Html.BeginForm("CheckAnswer", "Questions", FormMethod.Post))
                {
                <td>
                    @Html.EditorFor(modelItem => item.StudentAnswer)
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </td>
                
                }
            </tr>
          }
    </table>


    
</body>
</html>