@model IEnumerable<Sait2022.Domain.Model.Questions>

@{
    ViewData["Title"] = "Темы вопросов";
}

<head><title>Вариант 1</title></head>


<body>
<table class="table">
    @foreach (var item in Model)
{
    <tr>
        <td>
            @item.QuestionTopcId
        </td>
        <td>
            @item.NumberQuest
        </td>
        <td>
            @item.ValueQuest
        </td>
        <td>
            @using (Html.BeginForm("CheckAnswer", "Questions", FormMethod.Post))
            {
                <b>Ответ </b> @Html.TextBox("valueAnsw")     
            }
        </td>
    </tr>
    }
</table>
<button class="btn btn-info" type="submit">Сохранить</button>

</body>