@model IEnumerable<Sait2022.Domain.Model.Questions>

@{
    ViewData["Title"] = "Темы вопросов";
}

<title>Вариант 1</title>

<table class="table">
    @foreach (var item in Model)
{
    <tr>
        <td>
            @item.NumberQuest
        </td>
        <td>
            @item.ValueQuest
        </td>
    </tr>
    }
</table>