@model IEnumerable<Sait2022.ViewModels.Question.QuestionsViewModel>

@{
    ViewData["Title"] = "Вопросы";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>

<body>
@using (Html.BeginForm("CheckAnswer", "Questions", FormMethod.Post))
                {
  <table cellspacing="5px;">
      @foreach (var item in Model)
     {
         
     
            <tr>
                <td>
                    @Html.DisplayFor(model => item.NumberQuest)
                </td>
                <td>
                    @Html.DisplayFor(model => item.ValueQuest)
                </td>

                <td>
                    <input type="text" name="StudentAnswer" />
                    
                </td>
                
                
            </tr>
     }
    </table>
      <input type="submit" value="Сохранить" class="btn btn-primary" />
                }
  

    
</body>
</html>