@model QuestionsViewModel

@{
    ViewData["Title"] = "Вопросы";
    Layout = "_LoginLayout";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>

<div>
    <h4>Answers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValueQuest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValueQuest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentAnswer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentAnswer)
        </dd>
    </dl>
</div>
</html>