@model Sait2022.ViewModels.Question.QuestAnswersViewModel

@using(Html.BeginForm())
{
	<div id="questresult">
        <div class="col-md-10">
        </div>
        <div class="form-group">
                <input type="submit" value="Сохранить ответ" class="btn btn-primary" />
            </div>
     </div>
}