@model IEnumerable<Sait2022.ViewModels.Question.QuestionsViewModel>

@{
    ViewData["Title"] = "Вопросы";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Вариант 1</title>
</head>

<body>
    @using (Html.BeginForm("Edit", "Questions", FormMethod.Get))
    {
        @Html.Partial("_Form")

        <button type="submit">Сохранить</button>
    }

    
</body>
</html>