@model Sait2022.Domain.Model.Rangs

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы точно хотите удалить?</h3>
<div>
    <h4>Ранги</h4>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RangQuest)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Вернутся обратно</a>
    </form>
</div>
