@model Sait2022.Domain.Model.QuestionsTopic

@{
    ViewData["Title"] = "Подробности";
}

<h1>Подробности</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           <h5>Тема вопроса</h5>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактированить</a> |
    <a asp-action="Index">Вернутся обратно</a>
</div>
