@model IEnumerable<Sait2022.Domain.Model.QuestionsTopic>

@{
    ViewData["Title"] = "Темы вопросов";
}

<h1>Hello Worlds!</h1>

<table class="table">
    @foreach (var item in Model)
{
    <tr><td>@item.Topic</td></tr>
}
</table>
